<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="epds.guesthouse" >

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--
 To retrieve OAuth 2.0 tokens or invalidate tokens to disconnect a user. This disconnect
     option is required to comply with the Google+ Sign-In developer policies
    -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" /> <!-- To retrieve the account name (email) as part of sign-in: -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" /> <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:largeHeap="true" >
        <activity
            android:name=".Activity_Splash"
            android:label="@string/title_activity_activity__splash"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--
        <activity
            android:name=".activity_guesthouse_select"
            android:label="@string/title_activity_activity_guesthouse_select" >
        </activity>
        -->
        <activity
            android:name=".Activity_Calender"
            android:label="@string/title_activity_activity__search"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name=".Activity_Hep"
            android:label="@string/title_activity_activity__hep"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity_guesthouse_select"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name=".Search" >
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".List_Rooms_Activity"
            android:label="@string/title_activity_list__rooms_" >
        </activity>
        <activity
            android:name=".GuestHouseDetails"
            android:label="@string/title_activity_guest_house_details" >
        </activity>
        <activity
            android:name=".List_Rooms_search"
            android:label="@string/title_activity_list__rooms_search" >
        </activity>
        <activity
            android:name=".GuestHouseSearchDetails"
            android:label="@string/title_activity_guest_house_search_details" >
        </activity>
    </application>

</manifest>
